{% extends "content/base.html" %}

{% block content %}
  <div>
    <p>{{ term }}</p>
    {% for dict in ebay_data %}
      <div class="card">
        <div class="card-body">
          <h1>{{ dict.name }}</h1> <!-- 
                                        You might need to rewrite each
                                        instance of dict.x as dict['x'] 
                                    -->
          <h2>{{ dict.price }}</h2>
          <img src="{{ dict.img }}">
          <button type="submit" class="btn btn-primary" href="{{ dict.link }}">View</button>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}