{% extends "content/base.html" %}

{% block header %}
  <div class="jumbotron text-center">
    <h4>Search results for {{ term }}</h4>
  </div>
{% endblock header %}

{% block content %}
  <div class="container">
    <div class="row mb-5">
      {% for dict in ebay_data %}
        <div class="col-md-6 col-lg-4">
          <div id="{{ forloop.counter }}" class="card mx-2 my-2">
            <img style="height: 200px" class="card-img-top img-fluid" src="{{ dict.img }}" alt="image {{ forloop.counter }}">
            <div class="card-body">
              <h5 class="card-title">{{ dict.price }}</h5>
              <p class="card-text">{{ dict.name }}</p>
              <a href="{{ dict.link }}}" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}